$resource-url: '/';
$colors-helper: (
  splitline: rgba(0, 0, 0, 0.09),
  chunkarea: rgba(234, 234, 234, 0.24),
  iconinfo: #d71854,
  chunkbg: #f1f3fa,
  chunkborder: #d9d9d9,
  panelbg: #fff,
);
$color-dialog-splitline: map-get($colors-helper, splitline); // 弹框头尾分割线
$color-dialog-area: map-get($colors-helper, chunkarea); // 弹框区域背景色
$color-icon-info: map-get($colors-helper, iconinfo);
$color-chunk-bg: map-get($colors-helper, chunkbg);
$color-chunk-border: map-get($colors-helper, chunkborder);
$color-panel-bg: map-get($colors-helper, panelbg);

$colors: (
  sidebar: rgb(0, 93, 192),
);

$color-sidebar: map-get(
  $map: $colors,
  $key: sidebar,
);

$header-height: 54px;
$menu-width: 256px;
$menu-min-width: 70px;
$menu-item-height: 48px;
$menu-tree-width: 200px;

@function px2vw($px) {
  // @return $px * 100vw / 1920;
  @return $px / 100 * 1rem;
}
@function px2vh($px) {
  @return $px * 100vh / 1200;
}

$headerHeight: px2vh(100);

@mixin borcolor($dir) {
  $deg: 90deg;
  content: '';
  display: block;
  position: absolute;
  @if $dir == top {
    left: 0;
    right: 0;
    top: 0;
    height: 4px;
  } @else if $dir == bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
  } @else if $dir == left {
    $deg: 180deg;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
  } @else if $dir == right {
    $deg: 180deg;
    top: 0;
    bottom: 0;
    right: 0;
    width: 4px;
  }

  background: linear-gradient($deg, transparent 0%, #fff 50%, transparent 100%);
}
