.click-count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .count-text {
    color: #fff;
    margin-left: px2vw(40);
    .text,
    .title {
      font-size: px2vw(28);
    }
    .count {
      font-size: px2vw(64);
    }
  }
  .count-ctn {
    display: flex;
    align-items: center;
    img {
      width: px2vw(356);
    }
  }
}
