.home-page {
  .content {
    padding-top: px2vh(30);
    // padding: 0 px2vw(64) px2vh(64);
    .content-bg {
      width: 100%;
      position: relative;
      img {
        width: 100%;
      }
    }
  }
  .tab-change {
    font-size: 0;
    position: absolute;
    right: px2vw(50);
    top: px2vw(37);
  }
}

@media screen and (min-device-aspect-ratio: 1920/1080) {
  .home-page {
    .content-bg {
      transform: scale(0.8);
    }
  }
}
