.software-ctn {
  padding-top: px2vh(40);
  display: flex;
  align-items: center;
  justify-content: center;
  .software-bg {
    position: relative;
  }
  .point-item {
    position: absolute;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .name {
      padding: px2vw(5);
      border: 1px solid #3f5787;
      margin-bottom: px2vw(20);
      .inner {
        white-space: nowrap;
        color: #fff;
        // background: linear-gradient(132deg, #00f6dc 0%, #0056b7 100%);
        background: #154588;
        font-size: px2vw(32);
        // width: px2vw(140);
        padding: 0 px2vw(10);
        height: px2vw(40);
      }
    }
    .img {
      width: px2vw(80);
      height: px2vw(68);
      background: url('../../../../public/images/point/point.png');
    }
    &.active {
      .name {
        border: 1px solid #fff;
        .inner {
          background: linear-gradient(132deg, #00f6dc 0%, #0056b7 100%);
        }
      }
      .img {
        background: url('../../../../public/images/point/point-active.png');
      }
    }
  }
  .software-line {
    display: flex;
    justify-content: center;

    .software-item {
      width: px2vw(413);
      height: px2vw(207);
      display: flex;
      align-items: center;
      justify-content: center;
      // background:url($resource-url +'images/bgctn/itembg.png');
      background: url('../../../../public/images/bgctn/itembg.png');
      background-size: contain;

      &.active {
        background: url('../../../../public/images/bgctn/itembg-active.png');
        background-size: contain;
      }
      .software-box {
        text-align: center;
        font-size: 0;
      }
      .name {
        margin-top: px2vh(10);
        color: #fff;
        font-size: px2vw(28);
        padding: 0;
        margin: 0;
      }
    }

    &:nth-child(2) {
      margin-bottom: px2vw(50);
      .software-item:first-child {
        margin-right: px2vw(270);
      }
    }
    &:nth-child(3) {
      .software-item:first-child {
        margin-right: px2vw(100);
      }
    }
  }
}
